# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
static_output

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Deploy callback secret
deploy.env
